body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #FF4081;
    color: #ff79b0;
}

header {
    background: #1f3c88;
    color: #fff;
    padding: 30px;
    text-align: center;
}

nav {
    background: #162447;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 40px;
    max-width: 900px;
    margin: auto;
}

h2 {
    color: #1f3c88;
}

ul {
    list-style-type: square;
}

.project {
    background: #fff;
    padding: 20px;
    margin-bottom: 15px;
    border-left: 5px solid #1f3c88;
}

footer {
    background: #162447;
    color: #fff;
    text-align: center;
    padding: 15px;
}


